.post {
  z-index: 1;
}

.post:before {
  content: "";
  background: url(../images/leaves.jpg);
  opacity: .8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-position: top;
  background-size: cover;
  z-index: -1;
  margin-bottom: 30px
}
